<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Scientific Clickbait</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/goofy.css')}}"
</head>
	<body>
	<center>
		<h1>Cosmic Quirkifier : Scientific Clickbait Spoof</h1>
		<form action="/toggle" method="post">
        		<label for="goofy_switch" class="toggle">
				<input type="submit" id="goofy_switch">
			</label>
    		</form>
		<br><br><br><br>
		<img src = "Site Under Construction Image">
		<br>
		
	</body>
</html>


		