<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Scientific Clickbait</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"
</head>
	<body>
		<h1>Scientific Clickbait</h1>
		<form action="/toggle" method="post">
        		<div class="check">
				<label for="check"></label>
  				<button id="check" type="submit" data-state="{{ 'yes' if toggle else 'no' }}">Goofy Mode</button>
			</div>
			<script>
				const goofySwitch = document.getElementById('check');
    				goofySwitch.addEventListener('click', function() {
      					this.classList.toggle('checked');
    				});
			</script>
    		</form>
		<br><br>
		<img src = "https://raw.githubusercontent.com/akshitdhiman01/app_design_flask/main/Scientific%20Clickbait.png">
		<br><br><br>
		<form method="POST" action="/clickbait">
			<!--Command for the upload button, input type is file-->
			<div>
    				<input type="file" id="btn" style="display: none">
				<label for="btn" id="UploadLabel" class="InputLabel"><i class="fa-solid fa-upload"></i>Choose a PDF</label>
			</div>
			<script>
				document.getElementById('btn').addEventListener('change', function() {
  					var files = this.files;
  					if (files.length > 0) {
    						var fileName = document.querySelector('.InputLabel');
    						fileName.textContent = files[0].name;
  					}
				});
			</script>
			<br>
        		<label class="switch01" id="switch_label">
				<input type="checkbox" id="toggle_switch">
				<span class="slider01" id="switch_slider"></span>
       			</label>

			{% for message in get_flashed_messages()%}
			<p>{{message}}</p>
			{% endfor %}

			<!--The below text field will only be visible once the checkbox is switched-->
			<div id = "text_input" class="input-field" style="display: none;">
  				<input type="text" id="user_input" placeholder="Enter comma separated keywords and press Enter">
			</div>
			<script>

				<!--Getting the IDs of the checkbox and the text field-->
    				const checkbox = document.getElementById('toggle_switch');
    				const textInput = document.getElementById('text_input');
				const userInput = document.getElementById('user_input');
				<!--Performing an event once the checkbox is switched-->

	    			checkbox.addEventListener('change', function() {
	      				if (this.checked) {
	        				textInput.style.display = 'block';
	        				userInput.focus();
					}else {
        					textInput.style.display = 'none';
      					}
				});
				   userInput.addEventListener('keyup', function(event) {
      					if (event.keyCode === 13) {
						
        					this.value = '';
      					}
    				});
				
			</script>
			<br><br>
	</form>
	<form>
			<label class="switch">
				<input type="checkbox" class="chbox" id="generate">
				<div class="slider slider--0">GENERATED</div>
				<div class="slider slider--1">
					<div></div>
					<div></div>
				</div>
				<div class="slider slider--2"></div>
				<div class="slider slider--3">GENERATE</div>
				</label>


			<h3 id="title_output" style="display: none">"Generated Title"</h3>
			
			<script>
			<!--Getting the IDs of the Generate Button and the output field-->
				const GenerateButton = document.getElementById('generate')
				const OutputTitle = document.getElementById("title_output")

			<!--Performing an event once the button is clicked-->
				GenerateButton.addEventListener('change', function() {
					if (this.checked){
					OutputTitle.style.display = 'block';
				} else{
					OutputTitle.style.display = 'none';
				}
				});
			</script>
			
	</form>
	</body>
</html>


		