<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> Scientific Clickbait</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/goofy.css')}}"
</head>
	<body>
		<h1>Cosmic Quirkifier : Scientific Clickbait Spoof</h1>
		<form action="/toggle" method="post">
        		<div class="check">
				<label for="check"></label>
  				<button id="check" type="submit" data-state="{{ 'yes' if toggle else 'no' }}">Smart Mode</button>
			</div>
			<script>
				const goofySwitch = document.getElementById('check');
    				goofySwitch.addEventListener('click', function() {
      					this.classList.toggle('checked');
    				});
			</script>
    		</form>
		<br><br>
		<img src = "https://raw.githubusercontent.com/akshitdhiman01/app_design_flask/main/Under%20Construction.jpg">
		<br>
		
	</body>
</html>


		
