body {
  background-image: url(https://raw.githubusercontent.com/akshitdhiman01/app_design_flask/main/Goofy%20Background.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  background: linear-gradient(to right, black, orange);
  -webkit-background-clip: text;
  color: transparent;
}
